<section class="register">
    <!-- Register Progress -->
    <div  class="register__progress">
      <div class="register__progress--step">
        <span>1</span>
        <i class="fa fa-check"></i>
      </div>

      <div class="register__progress--step" >
        <span>2</span>
        <i class="fa fa-check"></i>
      </div>

      <div class="register__progress--step">
        <span>3</span>
        <i class="fa fa-check"></i>
      </div>

      <div class="register__progress--step">
        <span>4</span>
        <i class="fa fa-check"></i>
      </div>
    </div>
     <!-- Register Content -->
     <div    [formGroup]="checkoutForm" class="register__content">
        <div  class="register__content--form">
          <!-- *-*-*-*-*-*-* First Page Starts Here *-*-*-*-*-*-*-*-* -->

          <div  class="register__content--form__page">
            <!-- First Name -->
            <div class="register__content--form__page--field">
              <label for="first-name">First Name</label>
              <input name="first-name" minlength="4"   type="text" formControlName="firstName"   required />
            </div>

            <!-- Last Name -->
            <div class="register__content--form__page--field">
              <label for="last-name">Last Name</label>
              <input name="last-name" minlength="4"  formControlName="lastName"  type="text"    required />
            </div>

            <!-- Next Button -->
            <div class="register__content--form__page--field">
              <button class="next-1 next">Next</button>
            </div>
          </div>
          
          <div class="register__content--form__page">
            <!-- Email Address -->
            <div class="register__content--form__page--field">
              <label for="email-address">Email Address</label>
              <input type="email"
              name="email-address" minlength="4"  formControlName="email"required
               />
            </div>

            <!-- Phone Number -->
            <div class="register__content--form__page--field">
              <label for="phone-number">Phone Number</label>
              <input 
              type="number" 
              formControlName="number"
              name="phone-number"/>
            </div>

            <!-- Next Button -->
            <div class="register__content--form__page--field btns">
              <button class="prev-1 prev">Previous</button>
              <button class="next-2 next">Next</button>
            </div>
          </div>
          <!-- *-*-*-*-*-*-* Second Page Ends Here *-*-*-*-*-*-*-*-* -->

          <!-- *-*-*-*-*-*-* Third Page Starts Here *-*-*-*-*-*-*-*-* -->

          <div class="register__content--form__page">
            <!-- Data of Birth -->
            <div class="register__content--form__page--field">
              <label for="date-of-birth">Data of Birth</label>
              <input type="text" 
              formControlName="dateOfBirth"
              name="date-of-birth"
              />
            </div>

            <!-- Gender -->
            <div class="register__content--form__page--field">
              <label for="gender">Gender</label>
              <select   formControlName="gender"
              name="gender">
                <option value="female">Female</option>
                <option value="male">Male</option>
                <option value="other">Other</option>
              </select>
            </div>

            <!-- Next Button -->
            <div class="register__content--form__page--field btns">
              <button class="prev-2 prev">Previous</button>
              <button class="next-3 next">Next</button>
            </div>
          </div>
          <div class="register__content--form__page">
          
         <!-- Password -->
            <div class="register__content--form__page--field">
              <label for="password">Password</label>
              <input formControlName="password"
              name="password" type="password" />
            </div>
              <!-- Username -->
              <div class="register__content--form__page--field">
                <label for="repeatPassword">Repeat Password</label>
                <input formControlName="repeatPassword"
                name="repeatPassword" type="password"  />
              </div>

            <!-- Next Button -->
            <div class="register__content--form__page--field btns">
              <button class="prev-3 prev">Previous</button>
              <button class="submit">Submit</button>
            </div>
          </div>

          <!-- *-*-*-*-*-*-* Forth Page Ends Here *-*-*-*-*-*-*-*-* -->
        </div>
      </div>
    </section>
